.DS_Store
tmp/
.netrwhist

# zsh
zsh-cache

# nvim
bundle/
plugged/
plug.vim
.config/nvim/spell
!.config/nvim/spell/dictionary.utf-8.add
!.config/nvim

# ipython
config/python/ipython/extensions/
config/python/ipython/nbextensions/
config/python/ipython/profile_default/db/
config/python/ipython/profile_default/startup/README
config/python/ipython/profile_default/history.sqlite*

opt/*
!opt/readme.md

# .config
.config/*
!.config/yapf

# ignore
.ssh
.ssh/
.ssh/*
id_rsa
id_rsa.pub
*.pem
*.pub
*.key

# bootstrap files
gitconfig.local.symlink
