tmp/
.netrwhist

# zsh
zsh-cache

# plug manager
bundle/
plugged/
plug.vim

# ipython
.ipython/extensions/
.ipython/nbextensions/
.ipython/profile_default/db/
.ipython/profile_default/startup/README

# ignore
.ssh

# .config
.config/*
!.config/yapf
!.config/nvim
