"==========================================
" .vimrc of ci_knight
"
" blog site https://blog.ibeats.top
"
"==========================================


"==========================================
" General Settings
"==========================================
if filereadable(expand("~/.vim/autoload/config.vim"))
    source ~/.vim/autoload/config.vim
endif


"==========================================
" Key Map
"==========================================
if filereadable(expand("~/.vim/autoload/keymap.vim"))
    source ~/.vim/autoload/keymap.vim
endif


"==========================================
" Code Language Setting
"==========================================
if filereadable(expand("~/.vim/language.vim"))
    source ~/.vim/language.vim
endif


"==========================================
" Custome Plugin
"==========================================
"define BadWhitespace before using in a match
highlight BadWhitespace ctermbg=red guibg=darkred
" 标示不必要的空白字符
autocmd BufRead,BufNewFile *.py,*.pyw,*.c,*.h match BadWhitespace /\s\+$/
" 保存文件时删除多余空格
fun! <SID>StripTrailingWhitespaces()
    let l = line(".")
    let c = col(".")
    %s/\s\+$//e
    call cursor(l, c)
endfun
autocmd FileType vim,c,cpp,java,go,php,javascript,puppet,python,rust,xml,yml,perl,vim autocmd BufWritePre <buffer> :call <SID>StripTrailingWhitespaces()
