snippet main "python main"
if __name__ == '__main__':
    pass
endsnippet

snippet testsuit "python unittest testsuit"
class RequestsTestSuite(unittest.TestCase):
    Requests test cases."""

    def setUp(self):
        """Setup."""
        pass

    def tearDown(self):
        """Teardown."""
        pass
endsnippet
